@import url(reset.css);
@import url(fonte.css);

*{
    font-family: 'Nunito', sans-serif !important;
    overflow: hidden;
}
.fundo{
    background-image: url(../img/fundo-catalogo1.png);
    background-repeat: no-repeat;
    background-size: 100 100;
    position: absolute;
    height: 100%;
    width: 100%;
}
.retangulo {
    text-align: center;
    width: 70%;
    height: 70%;
    margin: 2% auto;
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.retangulo img{
  height: 100px;
}
.retangulo h1{
  color: #fff;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
.left-box, .right-box{
  margin-top: 20px;
  width: 50%;
  float: left;
  color: #fff;
  text-align: left;
}
.left-box label, .right-box label{
  font-size: 14px;
  font-weight: bold;
}
.left-box input, .right-box input, select{
  width: 95%;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px transparent solid;
  transition: 0.5s;
  margin-top: 5px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  color: #fff;
}
.left-box input:focus, .right-box input:focus, select:focus{
  border-bottom: 2px #fff solid;
}
.terms{
  float: left;
  color: #fff;
  text-align: left;
}
.submit{
  float: right;
}
input[type='submit']{
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  height: 35px;
  padding: 2px 30px;
  color: #fff;
  font-weight: bold;
  margin-top: 50%;
  border-radius: 5px;
  border-bottom: 2px transparent solid;
  transition: 0.5s;
}
input[type='submit']:hover{
  border-bottom: 2px #fff solid;
  cursor: pointer;
}
.clear{
  float: both;
}
@media screen and (max-width: 900px) {
  .retangulo{
    width: 85%;
    height: 80%;
  }
}