@import url(reset.css);
@import url(fonte.css);

*{
    font-family: 'Nunito', sans-serif !important;
    overflow: hidden;
}

a {
    color: white;
    text-align: center;
}
#body{
    background-image: url(../img/fundo-catalogo1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

#retangulo {
    text-align: center;
    width: 500px;
    height: 570px;
    justify-content: center;
    display: relative;
    margin: 2% 32%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#imagem {
    width: 200px;
}

/***************************FORMULARIO********************************/
#fname, #lname{
    margin-right: 85%;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: left;
    top: 25%,
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
    color: white;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
  color: white;
}

input[type=submit] {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 14px 20px;
    margin: 60px 0;
    margin-left: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
  border-radius: 5px;
  padding: 20px;
}

#cad {
  font-size: 17px;
  padding: 8px 15px;
  text-Align: center;
  text-Decoration: none;
  cursor: pointer;
  float: center;
  margin-top: -45px;
}

/************************CHECKBOX***********************************/
.container {
    font-size: 13px;
    color: white;
    display: block;
    position: relative;
    padding-right: 65%;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 15px;
    border: 3px solid white;
    background-color: #11ffee00;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #11ffee00;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #11ffee00;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }