@import url(reset.css);
@import url(fonte.css);


*{
    font-family: 'Nunito', sans-serif !important;
}
.primary-sec{
    width: 100%;
    position: relative;
    background-image: url(../img/fundo-catalogo.png);
    background-repeat: no-repeat;
    background-size: 100 100;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    padding: 50px;
    padding-bottom: 10%;
}
.left-header, .middle-header, .right-header{
    float: left;
    width: 33%;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
.left-header p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.right-header{
    text-align: right;
}
.right-header button{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px transparent solid;
}
.right-header button:hover{
    border-bottom: 2px #ccc solid;
}
.middle-header img{
    height: 80px;
}
.clear{
    clear: both;
}
.primary-title-button{
    margin-top: 6%;
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}
.primary-title-button button{
    margin-top: 5%;
    width: 300px;
    height: 40px;
    background: transparent;
    border: 1px #fff solid;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}
.primary-title-button button:hover{
    background: rgba(0, 0, 0, 0.5);
}
/* SESSÃO 2 e 3*/
.second-sec, .thirty-sec{
    height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 50px;
}
.thirty-sec{
    background-color: #fff;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.division-sec{
    float: left;
    width: 50%;
    color: #fff;
    margin: 0px auto;
}
.division-sec h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.division-sec p{
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
}
.thirty-sec .division-sec h2, .thirty-sec .division-sec p{
    color: #000 !important;
} 
.division-sec img{
    height: 300px;
    margin-top: -80px;
}
.thirty-sec .division-sec img{
    height: 220px;
    margin-top: -50px;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
/* FOOTER HOME */
.footer-home{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;
    text-align: center;
    height: auto;
}
.social-icons img{
    height: 25px;
    margin-right: 5px;
    filter: invert(100%);
}
.footer-button{
    margin-top: 2%;
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}
.footer-button button{
    width: 300px;
    height: 40px;
    background: transparent;
    border: 1px #fff solid;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}
.footer-button button:hover{
    background: rgba(0, 0, 0, 0.5);
}
.footer-button p{
    font-size: 20px;
    margin-top: 20px;
}
.footer-button a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 2px transparent solid;
}
.footer-button a:hover{
    border-bottom: 2px #ccc solid;
}
.footer-logo{
    margin-top: 5%;
}
.footer-logo img{
    height: 100px;
    margin-bottom: 20px;
}
.footer-logo p{
    color: #ccc;
}
/* CADASTRO */
.fundo{
    background-image: linear-gradient(to right, #0e1111, #3b444b, #0e1111);
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
}
.retangulo {
    text-align: center;
    width: 70%;
    height: 70%;
    margin: 2% auto;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
}
.ret-login{
    width: 30%;
}
.retangulo img{
  height: 90px;
  margin-bottom: 20px;
}
.retangulo h1, .retangulo h2{
  color: #fff;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
.retangulo h2{
    font-size: 18px;
}
.left-box, .right-box{
  margin-top: 20px;
  width: 50%;
  float: left;
  color: #fff;
  text-align: left;
}
.login-box{
    width: 100%;
    float: none;
}
.left-box label, .right-box label{
  font-size: 14px;
  font-weight: bold;
}
.left-box input, .right-box input, select{
  width: 95%;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px #fff solid;
  background: none;
  transition: 0.5s;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 2px 5px;
  color: #fff;
}
.left-box input::placeholder, .right-box input::placeholder, select::placeholder{
    color: #fff;
}
select option{
    color: #000;
}
.terms{
  float: left;
  color: #fff;
  text-align: left;
}
.submit{
  float: right;
  width: 100%;
}
.submit a{
    color: #fff;
    text-decoration: none;
    margin-right: 5%;
    font-size: 14px;
    color: #ccc;
    transition: 0.5s;
    padding: 5px;
    border-bottom: 2px transparent solid;
}
.submit a:hover{
    color: #fff;
    border-bottom: 2px #fff solid;
}
.cad-btn, .log-btn{
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  height: 35px;
  line-height: 35px;
  padding: 2px 30px;
  color: #fff;
  font-weight: bold;
  margin-top: 5%;
  border-bottom: 2px transparent solid;
  transition: 0.5s;
}
.log-btn{
    margin-top: 3%;
}
.cad-btn:hover, .log-btn:hover{
  border-bottom: 2px #fff solid;
  cursor: pointer;
}
.clear{
  float: both;
}
@media screen and (max-width: 900px) {
  .retangulo{
    width: 85%;
    height: 80%;
  }
}
/* Barra Superior - Início */
.barra-sup{
    background-image: linear-gradient(to right, #0e1111, #3b444b, #0e1111);
    width: 100%;
    height: 110px;
    color: #fff;
    border-bottom: 2px #3b444b solid;
}
.menu-sup ul li{
    display: inline;
    border-bottom: 2px transparent solid;
    transition: 0.5s;
    margin-right: 5%;
    font-size: 16px;
    line-height: 110px;
}
.menu-sup ul li:last-child{
    margin-right: none;
}
.menu-sup ul li:hover{
    border-bottom: 2px #fff solid;
    cursor: pointer;
}
.menu-sup .active{
    border-bottom: 2px #fff solid;
}
.menu-sup ul li a, .menu-sup ul li small{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.middle-barra img{
    height: 90px;
    margin-top: 10px;
}
.options{
    background-color: rgba(0,0,0,0.9);
    width: 150px;
    border-radius: 5px;
    margin-top: 0%;
    right: 1.5%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.options li{
    display: block !important;
    line-height: 50px !important;
    border-bottom: none !important;
}
.options li a{
    color: #fff !important;
}
.options .logoff a{
    color: #ff3232 !important;
}
.dropdown:hover > .options{
    opacity: 1;
    margin-top: -2%;
}
/* Barra Superior - FIM */

/* Vídeo Banner - Início */
.video-preview{
	position: relative;
    float: both;
    width: 100%;
    height: 5%;
    background: rgba(0,0,0,0.8);
}
video {
    height: 100% !important;
    position: absolute;
    right: 0;
}
.titulo-destaque{
    background-size: 100%;
    position: relative;
    color: #fff;
    padding: 8% 10%;
    background-image: linear-gradient(to right, #0e1111,#353839,transparent);
}
.info-titulo h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    text-transform: capitalize;
}
.info-titulo p{
    font-size: 20px;
    line-height: 25px;
    width: 50%;
}
.tags{
    margin-top: 2%;
}
.tags ul li{
    display: inline;
    font-size: 14px;
    border: 1px #ccc solid;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 0.5%;
}
.tags ul li:last-child{
    margin-right: 0%;
}
.actions{
    margin-top: 3%;
}
.play-button, .add-to-list{
    margin-top: 2%;
    width: auto;
    padding: 0px 20px;
    height: 40px;
    background: #fafafa;
    border: none;
    color: #000;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}
.play-button:hover, .add-to-list:hover{
    background: #ccc;
}
/* Vídeo Banner - FIM */

/* Catálogo - Início */
.catalogo, .bodypadrao{
    background-image: linear-gradient(to right, #0e1111, #353839, #0e1111);
    width: 90%;
    min-height: 100px;
    height: auto;
    padding: 5% 0% 5% 10%;
}
.catalogo h3{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.sec-title:first-child{
    margin-top: 0%;
}
.sec-title{
    margin-top: 5%;
}
.container-titulos{
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 350px;
}
.container-titulos::-webkit-scrollbar{
    background: rgba(0,0,0,0.3);
    height: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container-titulos::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,1);
    border-radius: 5px;
}
.titulos-catalogo{
    width: 100%;
    height: auto;
}
.titulo{
    width: 200px;
    height: 300px;
    background-color: #ccc;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}
.titulo:hover{
    opacity: 0.7;
}
.titulo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.titulo:last-child{
    margin-right: 0px;
}
.row{
    margin-top: 2%;
    width: 150%;
}
/* Catálogo - Fim */

/* Footer - Início */
.main-footer{
    background-image: linear-gradient(to right, #0e1111, #3b444b, #0e1111);
    width: 80%;
    height: auto;
    padding: 5% 10%;
}
.left-footer, .middle-footer, .right-footer{
    float: left;
    width: 33.33%;
}
.left-footer a, .middle-footer a, .right-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}
.middle-footer{
    text-align: center;
}
.right-footer{
    text-align: right;
}
/* Footer - Fim */

/* CLASSIFICAÇÕES */
.classificacao18{
    background-color: #000;
    border: 0px !important;
    font-weight: bold;
}

/* Modal */
.overlay-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    display: none;
}
.exibeModal{
    display: inline !important;
}
.modal{
    width: 40%;
    height: auto;
    background-image: linear-gradient(to right, #0e1111, #3b444b, #0e1111);
    margin: 15% auto 0% auto;
    border-radius: 10px;
    transition: 0.8s;
}
.closeButton{
    position: absolute;
    cursor: pointer;
}
.closeButton p, .voltar p{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.closeButton img, .voltar img{
    filter: invert(100%);
    height: 16px;
    width: auto !important;
    margin-right: 10px;
}
.modal img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-info{
    padding: 5% 7%;
}
.modal-info h1{
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}
.modal-info p, .modal-info .tags{
    color: #fff;
}
/* Modal - Fim */

/* Info Noticia */
.materia{
    width: 60%;
    float: left;
}
.imagem-promocional{
    width: 30%;
    float: left;
    text-align: center;
}
.voltar{
    width: 120px;
    margin-bottom: 3%;
    transition: 0.5s;
    cursor: pointer;
    border-bottom: 2px transparent solid;
}
.voltar:hover{
    border-bottom: 2px #fff solid;
}
.bodypadrao{
    color: #fff;
}
.bodypadrao h3{
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
}
.bodypadrao span{
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}
.descricao-noticia{
    margin-top: 2%;
    font-weight: bold;
    font-size: 18px;
}
.materia-noticia{
    margin-top: 5%;
    font-style: 16px;
    text-align: justify;
}
.bodypadrao .tags{
    margin-top: 2.5%;
}
strong{
    display: block;
    font-weight: bold;
    font-size: 16px;
}
/* Info Notícia - Fim */

/* Configurações */
.info-user{
    width: 85%;
    color: #fff;
}
.info-user-left, .info-user-middle, .info-user-right{
    float: left;
    width: 33%;
    height: 100%;
}
.info-user h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info-user p{
    text-align: left;
    line-height: 20px;
    font-weight: bold;
}
.info-user u{
    font-weight: normal;
    text-decoration: none;
}
.info-user-middle{
    text-align: center;
}
.info-user-middle img{
    width: 70%;
}
.info-user button:first-of-type{
    margin-top: 30px;
}
.info-user button{
    height: 35px;
    line-height: 35px;
    border: none;
    background: #0e1111;
    color: #fff;
    padding: 2px 25px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px transparent solid;
}
.info-user button:hover{
    border-bottom: 2px #fff solid;
}
/* Configurações - Fim */

.name-user{
    font-size: 18px !important;
    border-bottom: 2px #fff solid !important;
}

/* Novidades - Início */
.title-catalogo{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}
.desc-catalogo{
    color: #fff;
    margin-top: 10px;
}
.new{
    width: 95% !important;
    padding: 5%;
}
.novidades{
    border-top: 2px #fff solid;
    width: 94%;
    margin-top: 3%;
    padding: 2%;
}
.novidade{
    border-bottom: 2px #ccc solid;
    min-height: 80px;
    height: auto;
    padding: 2%;
    margin-bottom: 2%;
}
.novidade h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.novidade p:first-of-type{
    margin-bottom: 20px;
    font-size: 14px;
}
.novidade p{
    color: #fff;
    text-align: justify;
}
.novidade button{
    padding: 5px 20px;
    border: none;
    margin-top: 5%;
    background: #353839;
    color: #fff;
    border-bottom: 2px #ccc solid;
    cursor: pointer;
    transition: 0.5s;
}
.novidade button:hover{
    background: #3b444b;
    border-bottom: 2px #fff solid;
}
.edit-box{
    width: 90%;;
}
.edit-box h1{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
}
.edit-box label{
    display: block;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
.edit-box input, .edit-box select{
    width: 50%;
    display: block;
    height: 25px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px #fff solid;
    color: #fff;
    outline: none;
}
.edit-box input::placeholder{
    color: #ccc !important;
}
.edit-box select{
    height: 30px;
}
.termos{
    padding-top: 5%;
}
.termos h1{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.termos p{
    margin-bottom: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
}
.termos p:last-of-type{
    margin-bottom: 10%;
}
/*  */
.poster-serie{
    width: 20%;
    height: 300px;
    text-align: center;
    float: left;
}
.info-serie{
    width: 70%;
    float: left;
    color: #fff;
}
.info-serie h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info-serie p{
    font-size: 16px;
    line-height: 20px;
}
.serie-eps{
    float: left;
    width: 30%;
    margin-top: 20px;
}
.serie-eps select{
    border: 1px #fff solid !important;
}
.episodios{
    margin-top: 2%;
    width: 90%;
    border-top: 2px #ccc solid;
    padding-top: 2%;
}
.ep{
    margin-bottom: 30px;
}
.img-ep{
    width: 30%;
    float: left;
    height: 185px;
}
.img-ep img{
    width: 100%;
    border-radius: 5px;
}
.info-ep{
    float: left;
    width: 67%;
    height: 185px;
    padding: 0px 0px 0px 3%;
    color: #fff;
}
.info-ep h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info-ep p{
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    height: 100px;
}
.info-ep button{
    padding: 5px 15px;
    border: 2px transparent solid;
    background: #353839;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px #fff solid;
    transition: 0.5s;
}
.info-ep button:hover{
    border: 2px #fff solid;
}
/* Player Screen */
.player-body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #0e1111, #3b444b, #0e1111);
}
.player{
    width: 70%;
    margin: 1% auto 0% auto;
}
.player-bar{
    height: 150px;
}
.player-bar .middle-header{
    line-height: 20px;
}
.player-bar .middle-header img{
    margin-top: 20px;
}
.player-bar .right-header{
    line-height: 20px;
    height: 110px;
    width: 50%;
    text-align: left;
}
.player-bar .right-header p{
    font-size: 16px;
    height: 80px;
    overflow-y: scroll;
}
.player-bar .right-header p:first-of-type{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 25px;
    overflow-y: hidden;
}
.player-bar .right-header p::-webkit-scrollbar{
    width: 0px;
}

@media screen and (max-width: 1366px){
    .barra-sup{
        height: 100px;
    }
    .left-header{
        height: 100%;
    }
    .menu-sup ul li{
        font-size: 14px;
        line-height: 100px;
    }
    .middle-barra img{
        height: 80px;
    }
    .titulo-destaque{
        padding: 3%;
    }
    .info-titulo h1{
        font-size: 30px;
    }
    .info-titulo p{
        font-size: 16px;
    }
    .tags ul li{
        font-size: 12px;
    }
    .play-button, .add-to-list{
        height: 35px;
        font-size: 16px;
    }
    .catalogo, .bodypadrao{
        width: 95%;
        padding: 3% 0% 5% 5%
    }
    .container-titulos{
        height: 300px;
    }
    .titulo{
        width: 170px;
        height: 250px;
    }
    .row{
        width: 200%;
    }
    .main-footer{
        padding: 3% 5%;
        width: 90%;
    }
    .left-footer a, .middle-footer a, .right-footer a{
        font-size: 16px;
    }
    .modal{
        width: 50%;
    }
    .modal-info{
        padding: 3% 5%;
    }
    .modal-info h1{
        font-size: 25px;
    }
    .bodypadrao h3{
        font-size: 26px;
    }
    .bodypadrao span{
        font-size: 18px;
    }
    .descricao-noticia{
        font-size: 16px;
    }
    .materia-noticia{
        font-size: 16px;
    }
    strong{
        font-size: 16px;
    }
    .info-user-left, .info-user-middle, .info-user-right{
        width: 33.3%;
    }
    .title-catalogo{
        font-size: 26px;
    }
    .retangulo{
        margin: 0% auto;
    }
}
@media screen and (max-width: 1100px){
    .row{
        width: 250%;
    }
    .modal{
        width: 55%;
        margin: 10px auto !important;
    }
    .modal-info{
        padding: 3%;
    }
    .modal-info h1{
        font-size: 20px;
    }
    .modal-info p{
        font-size: 15px;
        text-align: justify;
    }
    .left-header, .middle-header, .right-header{
        width: 30%;
    }
    .left-header{
        width: 40%;
    }
    .retangulo{
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 950px){
    .left-header, .right-header{
        display: none;
    }
    .middle-header{
        width: 100%;
    }
    .titulo-destaque{
        padding: 5%;
        background-image: linear-gradient(to left,#353839,transparent, #353839);
    }
    .info-titulo h1{
        font-size: 22px;
    }
    .info-titulo p{
        width: 100%;
        font-size: 16px;
    }
    .catalogo, .bodypadrao{
        width: 95%;
        padding: 5% 0% 5% 5%
    }
    .catalogo h3{
        font-size: 16px;
    }
    .container-titulos{
        height: 250px;
    }
    .row{
        width: 400%;
    }
    .titulo{
        width: 150px;
        height: 220px;
    }
    .middle-footer p{
        font-size: 14px;
    }
    .footer-logo img{
        height: 80px;
    }
    .left-footer a, .middle-footer a, .right-footer a{
        font-size: 14px;
    }
    .modal{
        width: 70%;
    }
    .modal-info{
        padding: 3% 5%;
        text-align: justify;
    }
    .modal-info h1{
        font-size: 22px;
    }
    .info-user-left, .info-user-middle, .info-user-right{
        width: 50%;
        margin-bottom: 50px;
    }
    .edit-box{
        width: 90% !important;
    }
    .edit-box h1{
        font-size: 18px;
    }
    .edit-box input, .edit-box select{
        width: 80%;
    }
    .poster-serie{
        width: 30%;
        margin-bottom: 20px;
    }
    .info-serie{
        width: 60%;
    }
    .info-serie h1{
        text-align: left;
    }
    .info-serie p{
        text-align: justify;
    }
    .serie-eps{
        width: 60%;
    }
    .serie-eps select{
        width: 80%;
    }
    .img-ep{
        width: 40%;
    }
    .info-ep{
        width: 50%;
    }
    .player-bar{
        height: auto;
    }
    .player-bar .middle-barra{
        float: none;
        width: 100%;
        height: 50%;
    }
    .player-bar .right-header{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .player-bar .right-header p{
        font-size: 20px !important;
    }
    .player-bar .right-header p:last-of-type{
        display: none;
    }
    .player{
        width: 100%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 600px){
    .left-header, .right-header{
        display: none;
    }
    .middle-header{
        width: 100%;
    }
    .middle-barra img{
        height: 80px;
    }
    .titulo-destaque{
        padding: 10% 5%;
        background-image: linear-gradient(to bottom,#353839,transparent, #353839);
    }
    .info-titulo h1{
        font-size: 22px;
    }
    .info-titulo p{
        width: 100%;
        font-size: 16px;
    }
    .titulo-destaque .tags{
        display: none;
    }
    .play-button, .add-to-list{
        height: 40px;
        margin: 5% auto 1% auto;
        padding: 5px 10px;
        font-size: 18px;
        width: 30%;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    .add-to-list{
        width: 50%;
    }
    .catalogo, .bodypadrao{
        width: 92%;
        padding: 8% 0% 5% 8%
    }
    .catalogo h3{
        font-size: 18px;
    }
    .container-titulos{
        height: 280px;
    }
    .row{
        width: 400%;
    }
    .main-footer{
        padding: 5% 5%;
        width: 90%;
    }
    .left-footer{
        display: none;
    }
    .left-footer, .middle-footer, .right-footer{
        float: none;
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
    }
    .middle-footer p{
        font-size: 16px;
    }
    .footer-logo img{
        height: 90px;
    }
    .left-footer a, .middle-footer a, .right-footer a{
        font-size: 18px;
    }
    .modal{
        width: 90%;
    }
    .modal-info{
        padding: 5% 4%;
        text-align: justify;
    }
    .modal-info h1{
        font-size: 24px;
    }
    .info-user-left, .info-user-middle, .info-user-right{
        width: 100%;
        float: none;
        margin-bottom: 50px;
    }
    .edit-box input, .edit-box select{
        width: 90%
    }
    .new{
        width: 90% !important;
        padding: 5%;
    }
    .materia{
        width: 90%;
    }
    .descricao-noticia{
        font-size: 16px;
        text-align: justify;
    }
    .materia-noticia{
        font-size: 18px;
    }
    .imagem-promocional{
        display: none;
    }
    .poster-serie{
        float: none;
        width: 90%;
        margin-bottom: 20px;
    }
    .info-serie{
        float: none;
        width: 90%;
    }
    .info-serie h1{
        text-align: center;
    }
    .info-serie p{
        text-align: justify;
    }
    .serie-eps{
        float: none;
        width: 90%;
    }
    .serie-eps select{
        width: 100%;
    }
    .img-ep{
        width: 45%;
        height: auto;
    }
    .info-ep{
        width: 50%;
    }
    .info-ep p{
        text-align: left;
        margin-bottom: 10px;
    }
    .player-bar{
        height: auto;
    }
    .player-bar .middle-barra{
        float: none;
        width: 100%;
        height: 50%;
    }
    .player-bar .right-header{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .player-bar .right-header p{
        font-size: 20px !important;
    }
    .player-bar .right-header p:last-of-type{
        display: none;
    }
    .player{
        width: 100%;
        margin-bottom: 10%;
    }
    .left-box, .right-box{
        float: none;
        width: 100%;
    }
    .retangulo h1{
        font-size: 24px;
        text-align: center !important;
    }
    .retangulo h2{
        font-size: 18px;
        text-align: center !important;
    }
    .left-box, .right-box{
        float: none;
        width: 80%;
        margin: 10% auto 0% auto;
    }
    .right-box{
        margin: 0% auto;
    }
    .left-box label, .right-box label{
        font-size: 18px;
    }
    .left-box input, .right-box input{
        font-size: 16px;
        height: 35px;
    }
    .terms{
        float: none;
        width: 80%;
        margin: 20px auto 0px auto;
    }
    .submit{
        margin: 20px auto 50px auto;
    }
}
@media screen and (max-width: 415px){
    .barra-sup{
        height: 100px;
    }
    .left-header, .right-header{
        display: none;
    }
    .middle-header{
        width: 100%;
    }
    .middle-barra img{
        height: 80px;
    }
    .titulo-destaque{
        padding: 10% 5%;
        background-image: linear-gradient(to bottom,#353839,transparent, #353839);
    }
    .info-titulo h1{
        font-size: 24px;
        text-align: center;
    }
    .info-titulo p{
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .titulo-destaque .tags{
        display: none;
    }
    .tags{
        margin-top: 5%;
    }
    .play-button, .add-to-list{
        height: 40px;
        margin: 5% auto 1% auto;
        padding: 5px 10px;
        font-size: 18px;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    .catalogo h3{
        font-size: 18px;
    }
    .catalogo, .bodypadrao{
        width: 90%;
        padding: 5% 0% 5% 10%
    }
    .container-titulos{
        height: 250px;
    }
    .titulo{
        width: 150px;
        height: 220px;
    }
    .row{
        width: 450%;
    }
    .main-footer{
        padding: 3% 5%;
        width: 90%;
    }
    .left-footer{
        display: none;
    }
    .left-footer, .middle-footer, .right-footer{
        float: none;
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
    }
    .middle-footer p{
        font-size: 16px;
    }
    .footer-logo img{
        height: 90px;
    }
    .left-footer a, .middle-footer a, .right-footer a{
        font-size: 18px;
    }
    .modal{
        width: 92%;
    }
    .modal-info{
        padding: 5%;
        text-align: justify;
    }
    .modal-info h1{
        font-size: 24px;
    }
    .bodypadrao h3{
        font-size: 22px;
        text-align: center;
    }
    .bodypadrao span{
        font-size: 18px;
    }
    .descricao-noticia{
        font-size: 16px;
        text-align: justify;
    }
    .materia-noticia{
        font-size: 18px;
    }
    strong{
        font-size: 16px;
    }
    .materia{
        width: 90%;
    }
    .new{
        width: 90% !important;
        padding: 5%;
    }
    .imagem-promocional{
        display: none;
    }
    .info-user-left, .info-user-middle, .info-user-right{
        width: 100%;
        float: none;
        margin-bottom: 50px;
    }
    .title-catalogo{
        font-size: 26px;
    }
    .retangulo{
        margin: 0% auto;
    }
    .edit-box{
        width: 100% !important;
    }
    .edit-box h1{
        font-size: 20px;
    }
    .submit{
        margin-bottom: 50px;
    }
    .edit-box input, .edit-box select{
        width: 85%
    }
    .poster-serie{
        float: none;
        width: 90%;
        margin-bottom: 20px;
    }
    .info-serie{
        float: none;
        width: 90%;
    }
    .info-serie h1{
        text-align: center;
    }
    .info-serie p{
        text-align: justify;
    }
    .serie-eps{
        float: none;
        width: 90%;
    }
    .serie-eps select{
        width: 100%;
    }
    .img-ep{
        float: none;
        width: 100%;
    }
    .info-ep{
        float: none;
        width: 90%;
    }
    .player-bar{
        height: auto;
    }
    .player-bar .middle-barra{
        float: none;
        width: 100%;
        height: 50%;
    }
    .player-bar .right-header{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .player-bar .right-header p{
        font-size: 20px !important;
    }
    .player-bar .right-header p:last-of-type{
        display: none;
    }
    .player{
        width: 100%;
        margin-bottom: 10%;
    }
    .left-box, .right-box{
        float: none;
        width: 100%;
    }
    .retangulo h1{
        font-size: 24px;
    }
    .retangulo h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 360px){
    .barra-sup{
        height: 100px;
    }
    .left-header, .right-header{
        display: none;
    }
    .middle-header{
        width: 100%;
    }
    .menu-sup ul li{
        font-size: 14px;
        line-height: 100px;
    }
    .middle-barra img{
        height: 80px;
    }
    .titulo-destaque{
        padding: 10% 5%;
        background-image: linear-gradient(to bottom,#353839,transparent, #353839);
    }
    .info-titulo h1{
        font-size: 20px;
        text-align: center;
    }
    .info-titulo p{
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .titulo-destaque .tags{
        display: none;
    }
    .tags{
        margin-top: 5%;
    }
    .play-button, .add-to-list{
        height: 35px;
        margin: 5% auto 1% auto;
        padding: 5px 10px;
        font-size: 16px;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    .catalogo h3{
        font-size: 16px;
    }
    .catalogo, .bodypadrao{
        width: 90%;
        padding: 5% 0% 5% 10%
    }
    .container-titulos{
        height: 200px;
    }
    .titulo{
        width: 120px;
        height: 180px;
    }
    .row{
        width: 400%;
    }
    .main-footer{
        padding: 3% 5%;
        width: 90%;
    }
    .left-footer{
        display: none;
    }
    .left-footer, .middle-footer, .right-footer{
        float: none;
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
    }
    .middle-footer p{
        font-size: 14px;
    }
    .footer-logo img{
        height: 80px;
    }
    .left-footer a, .middle-footer a, .right-footer a{
        font-size: 14px;
    }
    .modal{
        width: 90%;
    }
    .modal-info{
        padding: 3% 5%;
        text-align: justify;
    }
    .modal-info h1{
        font-size: 20px;
    }
    .bodypadrao h3{
        font-size: 20px;
        text-align: center;
    }
    .bodypadrao span{
        font-size: 16px;
    }
    .descricao-noticia{
        font-size: 16px;
    }
    .materia-noticia{
        font-size: 16px;
    }
    strong{
        font-size: 16px;
    }
    .materia{
        width: 90%;
    }
    .new{
        width: 90% !important;
        padding: 5%;
    }
    .imagem-promocional{
        display: none;
    }
    .info-user-left, .info-user-middle, .info-user-right{
        width: 100%;
        float: none;
        margin-bottom: 50px;
    }
    .title-catalogo{
        font-size: 26px;
    }
    .retangulo{
        margin: 0% auto;
    }
    .edit-box{
        width: 100% !important;
    }
    .edit-box h1{
        font-size: 18px;
    }
    .submit{
        margin-bottom: 50px;
    }
    .edit-box input, .edit-box select{
        width: 80%;
    }
    .poster-serie{
        float: none;
        width: 90%;
        margin-bottom: 20px;
    }
    .info-serie{
        float: none;
        width: 90%;
    }
    .info-serie h1{
        text-align: center;
    }
    .info-serie p{
        text-align: justify;
    }
    .serie-eps{
        float: none;
        width: 90%;
    }
    .serie-eps select{
        width: 100%;
    }
    .img-ep{
        float: none;
        width: 100%;
    }
    .info-ep{
        float: none;
        width: 90%;
    }
    .player-bar{
        height: auto;
    }
    .player-bar .middle-barra{
        float: none;
        width: 100%;
        height: 50%;
    }
    .player-bar .right-header{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .player-bar .right-header p{
        font-size: 20px !important;
    }
    .player-bar .right-header p:last-of-type{
        display: none;
    }
    .player{
        width: 100%;
        margin-bottom: 10%;
    }
    .left-box, .right-box{
        float: none;
        width: 100%;
    }
    .retangulo h1{
        font-size: 20px;
    }
    .retangulo h2{
        font-size: 16px;
    }
}