<div class="player-body">
    <header class="barra-sup player-bar">
        <div class="middle-header middle-barra">
            <img src="/assets/logobranca.svg" alt="CineBr">
            <p style="cursor: pointer;" onclick="window.location.href='/home'">Voltar ao catálogo</p>
        </div>
        <div class="right-header">
        <p>Como se o céu fosse oceano</p>
        <p>Belo Horizonte. Encontro de corpos que compartilham, cada um à sua maneira,
            anseios, histórias, afetos, medos e existências, tudo isso com a cidade de pano
            de fundo. Jovens atravessados por diferentes experiências sociais ocupando a
            cidade e criando suas próprias narrativas de vida.</p>
        </div>
        <div class="clear"></div>
    </header>

    <div class="player">
        <video id="video2" class="afterglow" width="1920" height="1000" poster="/assets/banners/como-se-o-ceu-fosse-oceano.png" preload="none">
            <source src="/assets/midia/comoseoceufosseoceano/midia.mp4" type="video/mp4" />
        </video>
    </div>

    <section class="catalogo" style="background: transparent;">
        <div class="sec-title">
            <h3>Recomendações</h3>
            <div class="container-titulos">
                <div class="row">
                    <div class="titulos-catalogo">
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                        <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>