<app-header></app-header>

<section class="catalogo">
    <div class="sec-title">
        <h3>Minha Lista de Documentários</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title">
        <h3>Recomendados</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title">
        <h3>Política</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title">
        <h3>Histórico</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title">
        <h3>Tecnologia</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>