<app-header></app-header>

<section class="catalogo">
    <h3>Documentários</h3>

    <div class="titulo nw-titulo" onclick="openModal()"><img src="/assets/midia/comoseoceufosseoceano/poster.png" alt=""></div>
    <div class="titulo nw-titulo"><img src="/assets/demoposter.jpg" alt=""></div>
    <div class="titulo nw-titulo"><img src="/assets/demoposter.jpg" alt=""></div>
    <div class="titulo nw-titulo"><img src="/assets/demoposter.jpg" alt=""></div>
    <div class="titulo nw-titulo"><img src="/assets/demoposter.jpg" alt=""></div>
    <div class="titulo nw-titulo"><img src="/assets/demoposter.jpg" alt=""></div>
    <div class="titulo nw-titulo"><img src="/assets/demoposter.jpg" alt=""></div>

    <div class="clear"></div>
</section>

<app-footer></app-footer>