<header class="barra-sup">
    <div class="left-header">
       <nav class="menu-sup">
           <ul>
               <li id="1"><a href="/home">Home</a></li>
               <li id="2"><a href="/filmes">Filmes e Curtas</a></li>
               <li id="3"><a href="/series">Séries</a></li>
               <li id="4"><a href="/documentarios">Documentários</a></li>
           </ul>
       </nav>
    </div>
    <div class="middle-header middle-barra">
        <img src="/assets/logobranca.svg" alt="CineBr">
    </div>
    <div class="right-header">
        <nav class="menu-sup">
            <ul>
                <li id="5"><a href="/novidades">Novidades</a></li>
                <li class="name-user"><small>Luiz Eduardo</small></li>
                <li class="dropdown"><img src="/assets/bx_bxs-down-arrow.png" alt="Perfil Usuário">
                    <ul class="options">
                        <li id="6"><a href="/configuracoes">Configurações</a></li>
                        <li id="7"><a href="/minhaLista">Minha Lista</a></li>
                        <li class="logoff" id="8"><a href="/">Sair</a></li>
                    </ul></li>
            </ul>     
        </nav>
    </div>
    <div class="clear"></div>
</header>

<div class="clear"></div>