<app-header></app-header>
<script> page = 1; </script>
<div class="video-preview">
    <video playsinline autoplay muted loop>
        <source src="/assets/midia/comoseoceufosseoceano/trailer1.mp4" type="video/mp4">
    </video>
    <section class="titulo-destaque">
        <div class="info-titulo">
            <h1>Como se o céu fosse oceano</h1>
            <p>Belo Horizonte. Encontro de corpos que compartilham, cada um à sua maneira,
                anseios, histórias, afetos, medos e existências, tudo isso com a cidade de pano
                de fundo. Jovens atravessados por diferentes experiências sociais ocupando a
                cidade e criando suas próprias narrativas de vida.</p>
            <div class="tags">
                <ul>
                    <li>Curta</li>
                    <li>Drama</li>
                    <li>LGBTQIA+</li>
                    <li class="classificacao18">18</li>
                </ul>
            </div>
            <div class="actions">
                <button class="play-button" onclick="window.location.href='player.html'">Assistir</button>
                <button class="add-to-list">Adicionar na minha lista</button>
            </div>
        </div>
    </section>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<section class="catalogo">
    <div class="sec-title">
        <h3>Recomendados</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo" onClick="openModal()"><img src="/assets/midia/comoseoceufosseoceano/poster.png" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title">
        <h3>Minha Lista</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo"> 
                    <div class="titulo"></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-title">
        <h3>Documentários</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="overlay-modal" id="modal">
    <div class="modal" id="modeffec">
        <div class="closeButton">
            <p onclick="closeModal()"><img src='/assets/setaesquerda.png' alt="Fechar Modal">Voltar</p>
        </div>
        <img src="/assets/banners/como-se-o-ceu-fosse-oceano.png" alt="Como se o céu fosse oceano">
        <div class="modal-info">
            <h1>Como se o céu fosse oceano</h1>
            <p>Belo Horizonte. Encontro de corpos que compartilham, cada um à sua maneira,
                anseios, histórias, afetos, medos e existências, tudo isso com a cidade de pano
                de fundo. Jovens atravessados por diferentes experiências sociais ocupando a
                cidade e criando suas próprias narrativas de vida.</p>
            <div class="tags">
                <ul>
                    <li>Curta</li>
                    <li>Drama</li>
                    <li>LGBTQIA+</li>
                    <li class="classificacao18">18</li>
                </ul>
            </div>
            <div class="actions">
                <button class="play-button" onclick="window.location.href='player.html'">Assistir</button>
                <!-- <button class="add-to-list">Assistir Trailer</button> -->
                <button class="add-to-list">Adicionar na minha lista</button>    
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>