<div class="clear"></div>

<footer class="main-footer">
    <div class="left-footer">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/filmes">Filmes e Curtas</a></li>
                <li><a href="/series">Séries</a></li>
                <li><a href="/documentarios">Documentários</a></li>
                <li><a href="/novidades">Novidades</a></li>
            </ul>
        </nav>
    </div>
    <div class="middle-footer">
        <section class="social-icons">
            <img src="/assets/Facebook.png" alt="Facebook CineBr">
            <img src="/assets/Instagram.png" alt="Instagram CineBr">
            <img src="/assets/YouTube.png" alt="YouTube CineBr">
        </section>
        <section class="footer-logo">
            <img src="/assets/logobranca.svg" alt="CineBr">
            <p>CineBr © 2021 - Todos os direitos reservados.</p>
        </section>
    </div>
    <div class="right-footer">
        <nav>
            <ul>
                <li><a href="/configuracoes">Configurações</a></li>
                <li><a href="/termos">Termos de serviço</a></li>
                <li><a href="/contato">Entre em contato</a></li>
            </ul>
        </nav>
    </div>
    <div class="clear"></div>
</footer>