<app-header></app-header>

<section class="catalogo">
    <div class="info-user">
        <div class="info-user-left">
            <h1>Atendimento CineBr</h1>
            <p>E-mail: <u>atendimentocinebr@gmail.com</u></p>
            <p>Telefone: <u>0800 031 0000</u></p>
        </div>
        <div class="info-user-right">
            <h1>Horário de Atendimento</h1>
            <p>Segunda a Sexta: <u>de 09:00 às 16:00</u></p>
        </div>
        <div class="info-user-right">
            <h1>Redes Sociais</h1>
            <section class="social-icons">
                <img src="/assets/Facebook.png" alt="Facebook CineBr">
                <img src="/assets/Instagram.png" alt="Instagram CineBr">
                <img src="/assets/YouTube.png" alt="YouTube CineBr">
            </section>
        </div>
    </div>

    <div class="clear"></div>

    <div class="sec-title">
        <h3>Recomendações</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<app-footer></app-footer>