<app-admin-menu></app-admin-menu>

<section class="content">
    <div class="mini-box">
        <h1>Conteúdo cadastrado</h1>
        <p>Filmes e curtas <small>10</small></p>
        <p>Séries <small>10</small></p>
        <p>Documentários <small>10</small></p>
        <p>Notícias <small>10</small></p>
    </div>
    <div class="mini-box">
        <h1>Usuários cadastrados</h1>
        <p>Comuns <small>10</small></p>
        <p>Administrativos <small>10</small></p>
    </div>
    <div class="mini-box">
        <h1>Alguma coisa</h1>
        <p>Topic <small>10</small></p>
        <p>Topic <small>10</small></p>
    </div>

    <div class="clear"></div>

    <div class="box">
        <h1>Informações Rápidas</h1>
        <p>Banner de filme em destaque: <small>Como se o céu fosse oceano</small></p>
    </div>
</section>