<div class="barra-lateral">
    <div class="logo-sec">
        <img src="/assets/logobranca.svg" alt="">
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li id="1" onclick="window.location.href=''">Home</li>
                <li id="2" onclick="window.location.href=''">Filmes e Curtas</li>
                <li id="3" onclick="window.location.href=''">Séries</li>
                <li id="4" onclick="window.location.href=''">Documentários</li>
                <li id="5" onclick="window.location.href=''">Notícias</li>
                <li id="6" onclick="window.location.href=''">Destaques</li>
                <li id="7" onclick="window.location.href=''">Cadastros</li>
                <li id="8" onclick="window.location.href=''">Configurações</li>
                <li onclick="window.location.href='/admin'" style="color:red;">Sair</li>
            </ul>
        </nav>
    </div>
</div>