<app-header></app-header>

<section class="catalogo">
    <div class="info-user">
        <div class="info-user-left">
            <h1>Informações do Usuário</h1>
            <p>Usuário: <u>Luiz Eduardo Catarino Ferreira</u></p>
            <p>E-mail: <u>luizeduardo-catarino@outlook.com</u></p>
            <p>Telefone:<u> (31) 97185-7123</u></p>
            <p>Gênero:<u> Masculino</u></p>
            <p>CPF: <u>000.000.000-00</u></p>
        </div>
        <div class="info-user-middle">
            <img src="/assets/artistas.png" alt="">
        </div>
        <div class="info-user-right">
            <h1>Configurações da Conta</h1>
            <p>Inscrição:<u> Desde março de 2021</u></p>
            <button onclick="window.location.href='/editarUsuario'">Alterar informações</button>
            <button>Desativar conta</button>
        </div>
    </div>
    <div class="clear"></div>
    <br>
    <!-- <div class="sec-title">
        <h3>Recomendações</h3>
        <div class="container-titulos">
            <div class="row">
                <div class="titulos-catalogo">
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                    <div class="titulo"><img src="/assets/demoposter.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div> -->
    
</section>

<app-footer></app-footer>