<section class="primary-sec">
    <div class="overlay">
        <div class="left-header">
            <p>Inicie o período de teste agora mesmo</p>
        </div>
        <div class="middle-header">
            <img src="/assets/logobranca.svg" alt="CineBr">
        </div>
        <div class="right-header">
            <button routerLink="/login">Entrar</button>
        </div>
        <div class="clear"></div>
        <section class="primary-title-button">
            <h1>Filmes, Séries, Documentários,<br>Desenhos, TV & Shows.</h1>
            <button routerLink="/cadastro">Crie uma conta gratuita</button>
        </section>
    </div>
</section>
<section class="second-sec">
    <div class="container">
        <div class="division-sec">
            <h2>Entretenimento</h2>
            <p>Tenha acesso à conteúdos exclusivos como
            <br>filmes, curtas, séries, documentários e notícias
            <br>de artistas e do universo cultural brasileiro.</p>
        </div>
        <div class="division-sec align-right">
            <img src="/assets/claquete.png" alt="Claquete CineBr">
        </div>
        <div class="clear"></div>
    </div>
</section>
<section class="thirty-sec">
    <div class="container">
        <div class="division-sec align-left">
            <img src="/assets/artistas.png" alt="Conheça artistas do CineBr">
        </div>
        <div class="division-sec">
            <h2>Conheça Novos Artistas</h2>
            <p>Conheça artistas que estão começando no universo
            <br>audio visual nacional e mostre seu apoio ao trabalho
            <br>dos produtores brasileiros.</p>
        </div>
        <div class="clear"></div>
    </div>
</section>
<footer class="footer-home">
    <section class="social-icons">
        <img src="/assets/Facebook.png" alt="Facebook CineBr">
        <img src="/assets/Instagram.png" alt="Instagram CineBr">
        <img src="/assets/YouTube.png" alt="YouTube CineBr">
    </section>
    <section class="footer-button">
        <button routerLink="/cadastro">Crie uma conta gratuita</button>
        <p>ou</p>
        <a routerLink="/login">Faça login em uma conta existente</a>
    </section>
    <section class="footer-logo">
        <img src="/assets/logobranca.svg" alt="CineBr">
        <p>CineBr © 2021 - Todos os direitos reservados.</p>
    </section>
</footer>